<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view beforePhase="#{viewScope.HandleKeys.registerKeyboardMapping}">
    <af:document id="document" title="Client Side">
      <af:resource type="javascript" source="js/keys.js"/>
      <af:resource type="javascript" source="js/utils.js"/>
      <af:serverListener type="keyboardToServerNotify"
                         method="#{viewScope.HandleKeys.handleKeyboardEvent}"/>
      <af:form id="f1">
        <af:pageTemplate viewId="/oracle/ui/pattern/dynamicShell/dynamicTabShell.jspx"
                         value="#{bindings.pageTemplateBinding}" id="pt1">
          <f:facet name="copyright"/>
          <f:facet name="about"/>
          <f:facet name="navigation">
            <af:decorativeBox id="db1">
              <f:facet name="center">
                <af:panelGroupLayout id="pgl1" layout="vertical">
                  <af:outputText value=" Choose your activity" id="ot1"
                                 inlineStyle="font-size:small; font-weight:bold;"/>
                  <af:panelList id="pl1">
                    <af:commandLink text="New Detail" id="cl1"
                                    actionListener="#{backingBeanScope.Launcher.detailActivity}"
                                    partialSubmit="true"/>
                  </af:panelList>
                </af:panelGroupLayout>
              </f:facet>
              <f:facet name="top"/>
            </af:decorativeBox>
          </f:facet>
          <f:facet name="globalLinks"/>
          <f:facet name="status"/>
          <f:facet name="globalToolbar"/>
          <f:facet name="globalSearch"/>
          <f:facet name="globalTabs">
            <af:navigationPane id="np1">
              <af:commandNavigationItem text="Client" id="cni1" action="client"
                                        selected="true"/>
              <af:commandNavigationItem text="Events" id="cni2" action="event"/>
            </af:navigationPane>
          </f:facet>
          <f:facet name="welcome">
            <af:region value="#{bindings.welcome1.regionModel}" id="r1"/>
          </f:facet>
          <f:facet name="innerToolbar"/>
          <f:attribute name="brandingTitle" value="ClientSide Demo"/>
        </af:pageTemplate>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
